<section id="sliderSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="slick_slider">
        {{#each top4Articles}}
        <div class="single_iteam"> <a href="/single-page/{{_id}}" class="pic-top-week"> <img src="{{bigAvatar}}"
              alt=""></a>
          <div class="slider_top">
            <h2><a href="/list-articles/category/{{categorySub._id}}"><i class="fas fa-ellipsis-v"></i>
                {{categorySub.categoryName}}</a></h2>
          </div>
          <div class="slider_article">
            <h2>
              <a class="slider_tittle" href="/single-page/{{_id}}">
                <i class="fas fa-newspaper"></i> {{title}}
                </br>
                <span class="slider_tittle" title="" data-second=""> <i class="fas fa-clock"></i>
                  {{formatDate writeDate "short"}} </span>
                </br>
                <span class="slider_tittle" title="" data-second=""> <i class="fas fa-eye"></i> {{views}} lượt xem
                </span>
              </a>
            </h2>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
        <h2><span>Tin nóng</span></h2>
        <div class="latest_post_container">
          <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
          <ul class="latest_postnav">
            {{#each top10Articles}}
            <li>
              <div class="media-new">
                <a href="/single-page/{{_id}}" class="media-left"> <img alt="" src="{{smallAvatar}}"> </a>
                <div class="media-body-new">
                  <div class="title-mini">
                    <a href="/single-page/{{_id}}" class="catg_title"> <strong>{{title}}</strong></a>
                  </div>
                  <div>
                    <a href="/list-articles/category/{{categorySub._id}}" class="">
                      {{categorySub.categoryName}} - </a>
                    <span class="" title="" data-second=""><i class="fas fa-clock"></i>
                      {{formatDate writeDate "short"}} </span>
                  </div>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
          <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="fashion_technology_area">
          {{!-- top 1 --}}
          {{#if articleTopCate1}}
          <div class="fashion">
            <div class="single_post_content">
              <h2><span>{{articleTopCate1.categorySub.categoryName}}</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="/single-page/{{articleTopCate1._id}}" class="featured_img">
                      <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="/single-page/{{articleTopCate1._id}}">{{articleTopCate1.title}}</a>
                    </figcaption>
                    <!-- <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p> -->
                    <div>
                      {{!-- <a href="" class="">Chuyên mục</a> - --}}
                      <i class="fas fa-eye"></i> {{articleTopCate1.views}} lượt xem
                      <span class="" title="" data-second=""> <i class="fas fa-clock"></i>
                        {{formatDate articleTopCate1.writeDate "short"}} </span>
                    </div>
                  </figure>
                </li>
              </ul>
            </div>
          </div>
          {{/if}}
          {{!-- top 2 --}}
          {{#if articleTopCate2}}
          <div class="technology">
            <div class="single_post_content">
              <h2><span>{{articleTopCate2.categorySub.categoryName}}</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="/single-page/{{articleTopCate2._id}}" class="featured_img">
                      <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="/single-page/{{articleTopCate2._id}}">{{articleTopCate2.title}}</a>
                    </figcaption>
                    <!-- <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p> -->
                    <div>
                      {{!-- <a href="" class="">Chuyên mục</a> - --}}
                      <i class="fas fa-eye"></i> {{articleTopCate2.views}} lượt xem
                      <span class="" title="" data-second=""> <i class="fas fa-clock"></i>
                        {{formatDate articleTopCate2.writeDate "short"}} </span>
                    </div>
                  </figure>
                </li>
              </ul>
            </div>
          </div>
          {{/if}}
        </div>
        <div class="fashion_technology_area">
          {{!-- top 3 --}}
          {{#if articleTopCate3}}
          <div class="fashion">
            <div class="single_post_content">
              <h2><span>{{articleTopCate3.categorySub.categoryName}}</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="/single-page/{{articleTopCate3._id}}" class="featured_img">
                      <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="/single-page/{{articleTopCate3._id}}">{{articleTopCate3.title}}</a>
                    </figcaption>
                    <!-- <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p> -->
                    <div>
                      {{!-- <a href="" class="">Chuyên mục</a> - --}}
                      <i class="fas fa-eye"></i> {{articleTopCate3.views}} lượt xem
                      <span class="" title="" data-second=""> <i class="fas fa-clock"></i>
                        {{formatDate articleTopCate3.writeDate "short"}} </span>
                    </div>
                  </figure>
                </li>
              </ul>
            </div>
          </div>
          {{/if}}
          {{!-- top 4--}}
          {{#if articleTopCate4}}
          <div class="technology">
            <div class="single_post_content">
              <h2><span>{{articleTopCate4.categorySub.categoryName}}</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="/single-page/{{articleTopCate4._id}}" class="featured_img">
                      <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="/single-page/{{articleTopCate4._id}}">{{articleTopCate4.title}}</a>
                    </figcaption>
                    <!-- <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p> -->
                    <div>
                      {{!-- <a href="" class="">Chuyên mục</a> - --}}
                      <i class="fas fa-eye"></i> {{articleTopCate4.views}} lượt xem
                      <span class="" title="" data-second=""> <i class="fas fa-clock"></i>
                        {{formatDate articleTopCate4.writeDate "short"}} </span>
                    </div>
                  </figure>
                </li>
              </ul>
            </div>
          </div>
          {{/if}}
        </div>
        <div class="fashion_technology_area">
          {{!-- top 5 --}}
          {{#if articleTopCate5}}
          <div class="fashion">
            <div class="single_post_content">
              <h2><span>{{articleTopCate5.categorySub.categoryName}}</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="/single-page/{{articleTopCate5._id}}" class="featured_img">
                      <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="/single-page/{{articleTopCate5._id}}">{{articleTopCate5.title}}</a>
                    </figcaption>
                    <!-- <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p> -->
                    <div>
                      {{!-- <a href="" class="">Chuyên mục</a> - --}}
                      <i class="fas fa-eye"></i> {{articleTopCate5.views}} lượt xem
                      <span class="" title="" data-second=""> <i class="fas fa-clock"></i>
                        {{formatDate articleTopCate5.writeDate "short"}} </span>
                    </div>
                  </figure>
                </li>
              </ul>
            </div>
          </div>
          {{/if}}
          {{!-- top 6 --}}
          {{#if articleTopCate6}}
          <div class="technology">
            <div class="single_post_content">
              <h2><span>{{articleTopCate6.categorySub.categoryName}}</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="/single-page/{{articleTopCate6._id}}" class="featured_img">
                      <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="/single-page/{{articleTopCate6._id}}">{{articleTopCate6.title}}</a>
                    </figcaption>
                    <!-- <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p> -->
                    <div>
                      {{!-- <a href="" class="">Chuyên mục</a> - --}}
                      <i class="fas fa-eye"></i> {{articleTopCate6.views}} lượt xem
                      <span class="" title="" data-second=""> <i class="fas fa-clock"></i>
                        {{formatDate articleTopCate6.writeDate "short"}} </span>
                    </div>
                  </figure>
                </li>
              </ul>
            </div>
          </div>
          {{/if}}
        </div>
        <div class="fashion_technology_area">
          {{!-- top 7 --}}
          {{#if articleTopCate7}}
          <div class="fashion">
            <div class="single_post_content">
              <h2><span>{{articleTopCate7.categorySub.categoryName}}</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="/single-page/{{articleTopCate7._id}}" class="featured_img">
                      <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="/single-page/{{articleTopCate7._id}}">{{articleTopCate7.title}}</a>
                    </figcaption>
                    <!-- <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p> -->
                    <div>
                      {{!-- <a href="" class="">Chuyên mục</a> - --}}
                      <i class="fas fa-eye"></i> {{articleTopCate7.views}} lượt xem
                      <span class="" title="" data-second=""> <i class="fas fa-clock"></i>
                        {{formatDate articleTopCate7.writeDate "short"}} </span>
                    </div>
                  </figure>
                </li>
              </ul>
            </div>
          </div>
          {{/if}}
          {{!-- top 8 --}}
          {{#if articleTopCate8}}
          <div class="technology">
            <div class="single_post_content">
              <h2><span>{{articleTopCate8.categorySub.categoryName}}</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="/single-page/{{articleTopCate8._id}}" class="featured_img">
                      <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="/single-page/{{articleTopCate8._id}}">{{articleTopCate8.title}}</a>
                    </figcaption>
                    <!-- <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p> -->
                    <div>
                      {{!-- <a href="" class="">Chuyên mục</a> - --}}
                      <i class="fas fa-eye"></i> {{articleTopCate8.views}} lượt xem
                      <span class="" title="" data-second=""> <i class="fas fa-clock"></i>
                        {{formatDate articleTopCate8.writeDate "short"}} </span>
                    </div>
                  </figure>
                </li>
              </ul>
            </div>
          </div>
          {{/if}}
        </div>
        <div class="fashion_technology_area">
          {{!-- top9 --}}
          {{#if articleTopCate9}}
          <div class="fashion">
            <div class="single_post_content">
              <h2><span>{{articleTopCate9.categorySub.categoryName}}</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="/single-page/{{articleTopCate9._id}}" class="featured_img">
                      <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="/single-page/{{articleTopCate9._id}}">{{articleTopCate9.title}}</a>
                    </figcaption>
                    <!-- <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p> -->
                    <div>
                      {{!-- <a href="" class="">Chuyên mục</a> - --}}
                      <i class="fas fa-eye"></i> {{articleTopCate9.views}} lượt xem
                      <span class="" title="" data-second=""> <i class="fas fa-clock"></i>
                        {{formatDate articleTopCate9.writeDate "short"}} </span>
                    </div>
                  </figure>
                </li>
              </ul>
            </div>
          </div>
          {{/if}}
          {{!-- top 10 --}}
          {{#if articleTopCate10}}
          <div class="technology">
            <div class="single_post_content">
              <h2><span>{{articleTopCate10.categorySub.categoryName}}</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="/single-page/{{articleTopCate10._id}}" class="featured_img">
                      <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="/single-page/{{articleTopCate10._id}}">{{articleTopCate10.title}}</a>
                    </figcaption>
                    <!-- <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a phare...</p> -->
                    <div>
                      {{!-- <a href="" class="">Chuyên mục</a> - --}}
                      <i class="fas fa-eye"></i> {{articleTopCate10.views}} lượt xem
                      <span class="" title="" data-second=""> <i class="fas fa-clock"></i>
                        {{formatDate articleTopCate10.writeDate "short"}} </span>
                    </div>
                  </figure>
                </li>
              </ul>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <aside class="right_content">
        <div class="single_sidebar">
          <h2><span>Tin mới nhất</span></h2>
          <ul class="spost_nav">
            {{#each newestArticles}}
            <li>
              <div class="media-new wow fadeInDown"> <a href="/single-page/{{_id}}" class="media-left"> <img alt=""
                    src="{{smallAvatar}}"> </a>
                <div class="media-body-new">
                  <div class="title-mini">
                    <a href="/single-page/{{_id}}" class="catg_title"> {{title}}</a>
                  </div>
                  <div>
                    <a href="/list-articles/category/{{categorySub._id}}" class="">
                      {{categorySub.categoryName}} -</a>&nbsp
                    <span class="" title="" data-second=""><i class="fas fa-clock"></i>
                      {{formatDate writeDate "short"}} </span>
                  </div>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>