<section id="sliderSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {{#if search}}
              <li class="breadcrumb-item active" aria-current="page"> Kết quả tìm kiếm
            </li>
            {{/if}}
            {{#if categoryMain}}
              <li class="breadcrumb-item active" aria-current="page">{{listArticles.0.categoryMain.categoryName}}
              </li>
            {{/if}}
            {{#if categorySub}}
            <li class="breadcrumb-item"><a
                href="/list-articles/categorymain/{{listArticles.0.categoryMain._id}}">{{listArticles.0.categoryMain.categoryName}}</a>
            </li>               
            <li class="breadcrumb-item active" aria-current="page">{{listArticles.0.categorySub.categoryName}}</li>
            {{/if}}
            {{#if istag}}
                  <li class="breadcrumb-item active" aria-current="page"> Tag: #{{tag.tagName}}</li>
            {{/if}}
          </ol>
        </nav>
      </div>
      <div>
        {{#each listArticles}}
        <div class="articles_one">
          <div href="/single-page/{{_id}}" class="pic-left-articles">
            <img alt="{{title}}" src="{{bigAvatar}}">
          </div>
          <div class="content-article">
            <div class="content-article bsbig_fig">
              <div>
                <figcaption>
                  <i class="material-icons">bookmarks</i> <a href="/single-page/{{_id}}">{{title}} </a>
                </figcaption>
              </div>
              <div>
                <!-- <i class="material-icons md-10">dashboard</i> -->
                <i class="material-icons md-small">trip_origin</i>
                <a href="/list-articles/category/{{categorySub._id}}" class="">
                  <b>{{categorySub.categoryName}}</b>
                </a> -
                <i class="material-icons md-medium">today</i>
                <span class="" title="" data-second="">
                  {{formatDate postDate "short"}} </span>
              </div>
            </div>
            <div>
              <i class="material-icons md-medium">border_color</i>
              {{abstract}}
            </div>
            <div>
              <i class="material-icons md-medium">label</i>
              {{#each arrayOfTags}}
              <a href="/list-articles/tag/{{_id}}" class="badge badge-dark">#{{tagName}}</a>
              {{/each}}
            </div>
          </div>

        </div>
        <hr>
        {{/each}}
      </div>
      <nav aria-label="...">
        {{#unless search}}
        <ul class="pagination">
          {{#each this.pages}}
          {{#if active}}
          {{#if valuepre}}
          <li class="page-item">
            <a class="page-link" href="?page={{valuepre}}" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          {{else}}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          {{/if}}
          {{/if}}
          {{/each}}
          {{#each this.pages}}
          {{#if active}}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
          </li>
          {{else}}
          <li class="page-item">
            <a class="page-link" href="?page={{value}}">{{value}}</a>
          </li>
          {{/if}}
          {{/each}}
          {{#each this.pages}}
          {{#if active}}
          {{#if valuenext}}
          <li class="page-item">
            <a class="page-link" href="?page={{valuenext}}" tabindex="-1" aria-disabled="true">Next</a>
          </li>
          {{else}}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
          </li>
          {{/if}}
          {{/if}}
          {{/each}}
        </ul>
        {{else}}
        <ul class="pagination">
          {{#each this.pages}}
          {{#if active}}
          {{#if valuepre}}
          <li class="page-item">
            <a class="page-link" href="?text={{../text}}&page={{valuepre}}" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          {{else}}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          {{/if}}
          {{/if}}
          {{/each}}
          {{#each this.pages}}
          {{#if active}}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
          </li>
          {{else}}
          <li class="page-item">
            <a class="page-link" href="?text={{../text}}&page={{value}}">{{value}}</a>
          </li>
          {{/if}}
          {{/each}}
          {{#each this.pages}}
          {{#if active}}
          {{#if valuenext}}
          <li class="page-item">
            <a class="page-link" href="?text={{../text}}&page={{valuenext}}" tabindex="-1" aria-disabled="true">Next</a>
          </li>
          {{else}}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
          </li>
          {{/if}}
          {{/if}}
          {{/each}}
        </ul>
        {{/unless}}
      </nav>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
        <h2><span>Tin nóng</span></h2>
        <div class="latest_post_container">
          <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
          <ul class="latest_postnav">
            {{#each top10Articles}}
            <li>
              <div class="media-new">
                <a href="/single-page/{{_id}}" class="media-left"> <img alt="" src="{{smallAvatar}}"> </a>
                <div class="media-body-new">
                  <div class="title-mini">
                    <a href="/single-page/{{_id}}" class="catg_title"> <strong>{{title}}</strong></a>
                  </div>
                  <div>
                    <a href="/list-articles/category/{{categorySub._id}}" class="">
                      {{categorySub.categoryName}} - </a>
                    <span class="" title="" data-second=""><i class="fas fa-clock"></i>
                      {{formatDate postDate "short"}} </span>
                  </div>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
          <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
        </div>
      </div>
      <aside class="right_content">
        <div class="single_sidebar">
          <h2><span>Tin mới nhất</span></h2>
          <ul class="spost_nav">
            {{#each newestArticles}}
            <li>
              <div class="media-new wow fadeInDown"> <a href="/single-page/{{_id}}" class="media-left"> <img alt=""
                    src="{{smallAvatar}}"> </a>
                <div class="media-body-new">
                  <div class="title-mini">
                    <a href="/single-page/{{_id}}" class="catg_title"> {{title}}</a>
                  </div>
                  <div>
                    <a href="/list-articles/category/{{categorySub._id}}" class="">
                      {{categorySub.categoryName}} -</a>&nbsp
                    <span class="" title="" data-second=""><i class="fas fa-clock"></i>
                      {{formatDate postDate "short"}} </span>
                  </div>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>