<section id="contentSection">
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    <li><a href="/list-articles/categorymain/{{article.categoryMain._id}}">{{article.categoryMain.categoryName}}</a>
    </li>
    <li><a href="/list-articles/category/{{article.categorySub._id}}">{{article.categorySub.categoryName}}</a></li>
    <li class="active">{{article.title}}</li>
  </ol>
  <div class="single-big-img img-ovarlay" style="background-image: url({{article.bigAvatar}})">

  </div>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="single_page">

          <h1>{{article.title}}</h1>

          {{#if article.isPremiumArticle}}

          {{#if isReaded }}
          <div class="post_commentbox"> <a href="javascript:;"><i
                class="fa fa-user"></i>{{article.writer.pseudonym}}</a> <span><i
                class="fa fa-calendar"></i>{{formatDate article.writeDate day="numeric" month="long" year="numeric"}}</span>
            <a href="#idcomment"><i class="far fa-comment-alt"></i>{{article.comments.length}}</a> </div>
          <div class="single_page_content">
            {{{article.content}}}
            <div class="mt-30">
              <i class="material-icons" id="icon-center">label</i>
              {{#each article.arrayOfTags}}
              <a href="/list-articles/tag/{{_id}}" class="badge badge-dark">#{{tagName}}</a>
              {{/each}}
            </div>
          </div>
          {{else}}
          <div class="subscription-popup">

            <div class="popup-content">
              <p class="popup-content-title">Nội dung chỉ dành riêng cho thành viên.</p>
              <p>Hãy trở thành thành viên để được đọc nhiều bài viết hơn.</p>
              <div class="text-center"><a href="/user/register" class="btn btn-primary">Trở thành thành viên</a></div>
              <div class="d-flex popup-content-hyperlink">
                <div class="col-6"></div>
                <div class="col-6 text-right">
                  Nhấp vào <a href="/user/login"><span style="color:red ">đây</span></a> để đăng nhập
                </div>
              </div>
            </div>
          </div>
          {{/if}}
          {{else}}
          <div class="post_commentbox"> <a href="javascript:;"><i
                class="fa fa-user"></i>{{article.writer.pseudonym}}</a> <span><i
                class="fa fa-calendar"></i>{{formatDate article.writeDate day="numeric" month="long" year="numeric"}}</span>
            <a href="#idcomment"><i class="far fa-comment-alt"></i>{{article.comments.length}}</a> </div>
          <div class="single_page_content">
            {{!-- <img class="img-center" src="{{article.bigAvatar}}" alt="{{article.title}}"> --}}

            {{!-- <blockquote><div class="quote-text">Một trong những cuộc gọi đầu tiên của tôi sau khi được ký hợp đồng là gọi cho Alex Ferguson. Chúng tôi đã nói rất nhiều thứ từ công việc cho đến chuyện riêng tư, nhưng ở đây tôi xin phép không thảo luận về những nội dung đã nói.</div>
              <div class="quote-name">HLV Solskjaer</div>
               </blockquote>  --}}

            {{{article.content}}}
            <div class="mt-30">
              <i class="material-icons" id="icon-center">label</i>
              {{#each article.arrayOfTags}}
              <a href="/list-articles/tag/{{_id}}" class="badge badge-dark">#{{tagName}}</a>
              {{/each}}
            </div>

          </div>
          {{/if}}

          <div class="social_link">
            <ul class="sociallink_nav">
              <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
              <li><a href="javascript:;"><i class="fab fa-google"></i></a></li>
              <li><a href="javascript:;"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="javascript:;"><i class="fab fa-pinterest"></i></a></li>
            </ul>
          </div>

          <div class="related_post">
            <div class="border-bottom">
              <h2>Bài viết gần đây
                <!--<i class="fa fa-thumbs-o-up"></i>-->
              </h2>
            </div>
            <ul class="spost_nav wow fadeInDown animated">
              {{#each top3Newest}}
              <li>
                <div class="media">
                  <center><a class="media resize-img" href="/single-page/{{_id}}"> <img src="{{bigAvatar}}" alt=""> </a>
                  </center>
                  {{!-- <div class="media-body"> <br>
                <i class="material-icons md-medium">today</i>
                <span class="" title="" data-second="">
                  {{formatDate writeDate day="numeric" month="long" year="numeric"}} </span> </div> --}}
                  <br>
                  <a class="catg_title" href="/single-page/{{_id}}"> {{title}}</a>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>

          <h2 class="page-header">Ý kiến bạn đọc ({{article.comments.length}})</h2>
          <section class="comment-list">
            <!-- First Comment -->
            <span id="idcomment"></span>
            {{#each article.comments}}
            <article class="row">
              {{!-- <div class="col-md-2 col-sm-2 hidden-xs">
                  <figure class="thumbnail">
                    <img class="img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
                    <figcaption class="text-center">{{nameUser}}</figcaption>
                  </figure>
                </div> --}}
              <div class="col-md-12 col-sm-12">
                <div class="panel panel-default arrow left">
                  <div class="panel-body">
                    <header class="text-left">
                      <div class="comment-user"><i class="fa fa-user"></i> <strong>{{nameUser}}</strong></div>
                      <time class="comment-date"
                        datetime="{{formatDate commentDate day="numeric" month="long" year="numeric"}}"><i
                          class="fa fa-clock-o"></i>
                        {{formatDate commentDate day="numeric" month="long" year="numeric"}}</time>
                    </header>
                    <div class="comment-post">
                      {{content}}
                    </div>
                    {{!-- <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p> --}}
                  </div>
                </div>
              </div>
            </article>
            {{/each}}
            <!-- Second Comment Reply -->
            {{!-- <article class="row">
                <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-0 hidden-xs">
                  <figure class="thumbnail">
                    <img class="img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
                    <figcaption class="text-center">username</figcaption>
                  </figure>
                </div>
                <div class="col-md-9 col-sm-9">
                  <div class="panel panel-default arrow left">
                    <div class="panel-heading right">Reply</div>
                    <div class="panel-body">
                      <header class="text-left">
                        <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                        <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                      </header>
                      <div class="comment-post">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                      </div>
                      <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                    </div>
                  </div>
                </div>
              </article> --}}

          </section>


          <h2 class="page-header" for="name">Đăng tải bình luận</h2>
          <div class="contact-form-area">
            <form action="/single-page/{{article._id}}" method="POST">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <input type="text" class="comment-form form-control input-md" id="name" name="name"
                    placeholder="Họ tên*" required="">
                </div>
                <div class="col-12 col-lg-6">
                  <input type="email" class="comment-form form-control input-md" id="email" name="email"
                    placeholder="Email">
                </div>
                <div class="col-lg-12">
                  <textarea name="message" class="comment-form form-control" id="message" cols="20" rows="10"
                    placeholder="Viết bình luận..." required=""></textarea>
                </div>

                <div class="col-lg-12 mb-30 text-align-r">
                  <button class="btn btn-info" type="submit">Gửi bình luận</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav class="nav-slit"> <a class="prev" href="#"> <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
        <div>
          <h3>City Lights</h3>
          <img src="/images/post_img1.jpg" alt="" />
        </div>
      </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        <div>
          <h3>Street Hills</h3>
          <img src="/images/post_img1.jpg" alt="" />
        </div>
      </a> </nav>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <aside class="right_content">
        <br>
        <div class="single_sidebar">
          <h2><span>Tin hot</span></h2>
          <ul class="spost_nav">
            {{#each top5Articles}}
            <li>
              <div class="media-new">
                <a href="/single-page/{{_id}}" class="media-left"> <img alt="" src="{{bigAvatar}}"> </a>
                <div class="media-body-new">
                  <div class="title-mini">
                    <a href="/single-page/{{_id}}" class="catg_title"> <strong>{{title}}</strong></a>
                  </div>
                  <div>
                    <i class="fas fa-eye"></i> {{views}} lượt xem
                  </div>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
        <br>
        <div class="single_sidebar">
          <h2><span>Cùng chuyên mục</span></h2>
          <ul class="spost_nav">
            {{#each listArtCate}}
            <li>
              <div class="media-new"> <a href="/single-page/{{_id}}" class="media-left"> <img alt=""
                    src="{{bigAvatar}}"> </a>
                <div class="media-body-new">
                  <div class="title-mini"><a href="/single-page/{{_id}}" class="catg_title"> {{title}}</a></div>
                  <div>
                    <i class="material-icons md-medium">today</i>
                    <span class="" title="" data-second="">
                      {{formatDate writeDate day="numeric" month="long" year="numeric"}} </span> </div>

                </div>
              </div>

            </li>
            {{/each}}
          </ul>
        </div>
        <br>
        <div class="single_sidebar">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab"
                data-toggle="tab">Category</a></li>
            <li role="presentation"><a href="#tags" aria-controls="profile" role="tab" data-toggle="tab">Tags</a></li>
            <li role="presentation"><a href="#video" aria-controls="messages" role="tab" data-toggle="tab">Video</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="category">
              <ul class="catagory-widgets">
                {{#each listCateMain}}
                {{#each arrayOfCategorySub}}
                <li><a href="/list-articles/category/{{_id}}"><span><i class="fa fa-angle-double-right"
                        aria-hidden="true"></i>{{../categoryName}} / {{categoryName}}</span></a></li>
                {{/each}}
                {{/each}}
                {{!-- <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Life Style</span> <span style="float: right;">35</span></a></li> --}}
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="tags">
              <ul>
                {{#each listTag}}
                <li class="cat-item"><a href="/list-articles/tag/{{_id}}">{{tagName}}</a></li>
                {{/each}}
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="video">
              <div class="vide_area">
                <iframe width="100%" height="250"
                  src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="/images/add_img.jpg" alt=""></a> </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Category Archive</span></h2>
            <select class="catgArchive">
              <option>Select Category</option>
              <option>Life styles</option>
              <option>Sports</option>
              <option>Technology</option>
              <option>Treads</option>
            </select>
          </div>-->
        {{!-- <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss Feed</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Life &amp; Style</a></li>
            </ul>
          </div> --}}
      </aside>
    </div>
  </div>
</section>