<div class="container-fluid">
    <div class="col-md-10 offset-md-1">
        <div class="card">
            {{# if hasError }}
                <div class="alert alert-danger" role="alert">
                    {{# each messages }}
                        {{ this }}</br>
                    {{/ each }}
                </div>
            {{/ if }}
            <div class="card-header bg-primary">
                <h4>{{titleForm}}</h4>
            </div>
            <div class="card-body">
                <form action="/user/profile" method="POST">
                    <div class="row">
                        <input type="text" id="_csrf" name="_csrf" value="{{csrfToken}}" hidden>
                        <div class="col-md-3 col-12">
                            <div class="row justify-content-center">
                                <img id="avatar" alt="User Pic" src="{{avatar}}" class="img-thumbnail img-fluid">
                                <div class="img-thumbnail" id="loading" hidden>
                                    <div class="spinner-border" role="status"></div>
                                </div>
                                <input type="file" id="file" hidden>
                            </div> 
                            <div class="row justify-content-center">
                            <button type="button" class="btn btn-sm btn-outline-warning fas fa-image m-1" onclick="handleChangeAvatar()"></button>
                            <button id="save-avatar-btn" type="button" class="btn btn-sm btn-outline-success far fa-save m-1" onclick="handleSaveAvatar()" hidden></button>
                            <button id="cancel-avatar-btn" type="button" class="btn btn-sm btn-outline-danger fas fa-window-close m-1" onclick="handleCancelChangeAvatar()" hidden></button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <label for="name" class="col-md-3 m-1 align-self-center" ><strong>Tên</strong></label>
                                <input type="text" name="userName" id="name" value="{{userName}}" readonly class="form-control col align-self-center">
                            </div>
                            {{# if isWriter}}
                                <div class="form-group row">
                                    <label for="pseudonym" class="col-md-3 m-1 align-self-center" ><strong>Bút danh</strong></label>
                                    <input type="text" name="pseudonym" id="pseudonym" value="{{user.pseudonym}}" readonly class="form-control col align-self-center">
                                </div>
                            {{/if}}
                            <div class="form-group row">
                                <label for="email" class="col-md-3 m-1 align-self-center" ><strong>Email</strong></label>
                                <input type="text" value="{{user.email}}" readonly class="form-control col align-self-center">
                            </div>
                            <div class="form-group row">
                                <label for="role" class="col-md-3 m-1 align-items-center" ><strong>Vai trò</strong></label>
                                <input type="text" value="{{user.role}}" readonly class="form-control col align-self-center">
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 m-1 align-items-center" ><strong>Ngày sinh (dd/mm/yyyy)</strong></label>
                                <div class="col align-self-center">
                                    <input type="text" name="date" id="date" value="{{user.date}}" readonly class="form-control">
                                </div>
                                <div class="col align-self-center">
                                    <input type="text" name="month" id="month" value="{{user.month}}" readonly class="form-control">
                                </div>
                                <div class="col align-self-center">
                                    <input type="text" name="year" id="year" value="{{user.year}}" readonly class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phoneNumber" class="col-md-3 m-1 align-items-center" ><strong>Điện thoại</strong></label>
                                <input type="text" name="phoneNumber" id="phoneNumber" value="{{user.phoneNumber}}" readonly class="form-control col align-self-center">
                            </div>
                        </div>
                    </div>
                    <button type="button" id="update" class="btn btn-sm btn-primary float-right m-2" onclick="handleUpdateInfo()">Cập nhật</button>
                    <button type="submit" id="save" class="btn btn-sm btn-success float-right m-2" hidden>Lưu</button>
                    <button type="button" id="cancel" class="btn btn-sm btn-danger float-right m-2" onclick="handleCancelUpateInfo()" hidden>Hủy</button>
                    <a href="/user/profile/change-password" role="button" class="btn btn-sm btn-primary float-left m-2" onclick="">Đổi mật khẩu</a>
                    <button type="button" class="btn btn-sm btn-primary float-left m-2" onclick="">Đổi email</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/profile-admin.js"></script>