<div class="container-fluid">
  <div class="card" style="min-width: 44rem;">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
            <h4>{{title}}</h4>
        </div>      
      </div>
      <!-- filter -->
      <div class="row align-items-center justify-content-center">
        <div class="col pt-3">
          <div class="form-group">
            <select id="categories" class="form-control">
              <option selected>Tất cả chuyên mục</option>
            </select>
          </div>
        </div>
        <div class="col pt-3">
          <div class="form-group">
            <select id="tasg" class="form-control">
              <option selected>Tất cả thẻ tag</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary btn-block">Lọc</button>
        </div>
      </div> <!-- end filter-->
      <!-- list posts -->
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover ">
            <thead class="bg-light ">
              <tr>  
                <th>Tiêu đề</th>
                <th>Tác giả</th>
                <th>Chuyên mục</th>
                <th>Ngày viết</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              {{#each listArticles}}
              {{!-- Aritcle --}}
              <tr> 
                <td><a href="#"><small>{{this.title}}</small></a></td>
                <td><small>{{this.writer.pseudonym}}</small></td>
                <td><small>{{this.categoryMain.categoryName}} / {{this.categorySub.categoryName}}</small></td>
                <td><small>{{formatDate writeDate day="numeric" month="long" year="numeric"}}</small></td>
                <td>
                  <a href="/user/editor/post/{{this.id}}"><i class="fa fa-eye" title="xem chi tiết bài viết"></i></a>
                  <button type="button" class="btn btn-link" onclick="handleOpenReason('{{this.id}}')"><i class="fas fa-comment" title="Xem lí do bị từ chối"></i></button>
                </td>
              </tr>
              {{!-- Aritcle End --}}
              {{else}}
              <div class="alert alert-danger" role="alert">
                <strong> Không có bài viết nào </strong>
              </div>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="reasonModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lý do từ chối bài viết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="reason">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/editor.js"></script>
