<!-- Include external CSS. -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
  type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

<!-- Include Editor style. -->
<link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.5/css/froala_editor.pkgd.min.css" rel="stylesheet"
  type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.5/css/froala_style.min.css" rel="stylesheet"
  type="text/css" />

<!-- Include external JS libs. -->
<script src="../assets/jquery-3.3.1/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

<!-- Include Editor JS files. -->
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.5/js/froala_editor.pkgd.min.js"></script>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <h4>{{topic}}</h4>
        </div>
      </div>
      <hr>
      {{#if article}}
      <div class="row">
        <div class="col">
          {{# if successold}}
          <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong>
            {{messagesSuccess}}
          </div>
          {{/if}}
          {{#if failure}}
          <div class="alert alert-danger" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failure!</strong>
            {{messagesFailure}}
          </div>
          {{/if}}
                      {{# if hasError }}
                <div class="alert alert-danger" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{# each messages }}
                        {{ this }}</br>
                    {{/ each }}
                </div>
            {{ else }}
                {{# if hasSuccess }}
                    <div class="alert alert-success" role="alert">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{# each success }}
                        {{ this }}</br>
                    {{/ each }}
                </div>
                {{/ if }}
            {{/ if }}
          <form style="min-width: 20rem;" id="articleContent" action="{{action}}" method="POST">
            <div class="form-group row">
              <label for="text" class="col-12 col-form-label">Tiêu đề bài viết</label>
              <div class="col-12">
                <input id="title" name="title" placeholder="Nhập tiêu đề tại đây" class="form-control here"
                  required="required" type="text" value="{{article.title}}">
              </div>
              <label for="text" class="col-12 col-form-label">Nội dung tóm tắt</label>
              <div class="col-12">
                <textarea id="abstract" name="abstract" placeholder="Nhập nội dung tóm tắt tại đây" cols="40" rows="3"
                  class="form-control" required="required"> {{article.abstract}} </textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="textarea" class="col-12 col-form-label">Nội dung chính bài viết</label>
              <div class="col-12">
                <textarea id="content" name="content" cols="40" rows="5" class="form-control"
                  required="required"> {{article.content}} </textarea>
                <script> $(function () { $('#content').froalaEditor() }); </script>
              </div>
            </div>
            <input type="text" id="_csrf" name="_csrf" value="{{csrfToken}}" hidden>
            <input type="text" id="_articleID" name="_articleID" value="{{article._id}}" hidden>
            <input type="text" id="categoryMain" name="categoryMain" value="{{article.categoryMain}}" hidden>
            <input type="text" id="writeDate" name="writeDate" value="{{article.writeDate}}" hidden>
            <input type="text" id="writerMain" name="writerMain" value="{{article.writer}}" hidden>
        </div>
                <div class="col-md-auto">
          <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header bg-light ">Đăng bài viêt</div>
            <div class="card-body">
              <div class="form-group row">
                <label for="categorySub" class="col-12 col-form-label">Chọn chuyên mục</label>
                <div class="col-8">
                  <select id="categorySub" name="categorySub" class="custom-select" required="required">
                    {{!-- <option value="rabbit">Rabbit</option>
                    <option value="duck">Duck</option>
                    <option value="fish">Fish</option> --}}
                    <option value="{{article.categorySub}}" selected>Chọn chuyên mục</option>
                    {{#each listCategory}}
                      <option value="{{_id}}">{{categoryName}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="select" class="col-12 col-form-label">Chọn tag</label>
                <div class="col-8">
                  <select id="select" name="select" class="custom-select" required="required">
                    <option value="rabbit">Rabbit</option>
                    <option value="duck">Duck</option>
                    <option value="fish">Fish</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card-footer bg-light">
              <button type="button" class="btn btn-outline-secondary btn-sm">Preview</button>
              <button type="button" class="btn btn-info btn-sm">Save Draft</button>
              <button type="submit" form="articleContent" class="btn btn-primary btn-sm">Publish</button>
            </div>
          </div>

        </div>
      </div>
      </form>
      {{/if}}
      {{#unless article}}
      <div class="row">
        <div class="col">
          {{# if successold}}
          <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong>
            {{messagesSuccess}}
          </div>
          {{/if}}
          {{# if failure}}
          <div class="alert alert-danger" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failure!</strong>
            {{messagesFailure}}
          </div>
          {{/if}}
          {{# if hasError }}
                <div class="alert alert-danger" role="alert">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{# each messages }}
                        {{ this }}</br>
                    {{/ each }}
                </div>
            {{ else }}

                {{# if hasSuccess }}
                    <div class="alert alert-success" role="alert">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{# each success }}
                        {{ this }}</br>
                    {{/ each }}
                </div>
                {{/ if }}
                
            {{/ if }}
          <form style="min-width: 20rem;" id="articleContent" action="{{actionpost}}" method="POST">
            <div class="form-group row">
              <label for="text" class="col-12 col-form-label">Tiêu đề bài viết</label>
              <div class="col-12">
                <input id="title" name="title" placeholder="Nhập tiêu đề tại đây" class="form-control here"
                  required="required" type="text">
              </div>
              <label for="text" class="col-12 col-form-label">Nội dung tóm tắt</label>
              <div class="col-12">
                <textarea id="abstract" name="abstract" placeholder="Nhập nội dung tóm tắt tại đây" cols="40" rows="3"
                  class="form-control" required="required"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="textarea" class="col-12 col-form-label">Nội dung chính bài viết</label>
              <div class="col-12">
                <textarea id="content" name="content" cols="40" rows="5" class="form-control"
                  required="required"></textarea>
                <script> $(function () { $('#content').froalaEditor() }); </script>
              </div>
            </div>
            <input type="text" id="_csrf" name="_csrf" value="{{csrfToken}}" hidden>

        </div>
        <div class="col-md-auto">
          <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header bg-light ">Đăng bài viêt</div>
            <div class="card-body">
              <div class="form-group row">
                <label for="categorySub" class="col-12 col-form-label">Chọn chuyên mục</label>
                <div class="col-8">
                  <select id="categorySub" name="categorySub" class="custom-select" required="required">
                    {{!-- <option value="rabbit">Rabbit</option>
                    <option value="duck">Duck</option>
                    <option value="fish">Fish</option> --}}
                    <option value="{{article.categorySub}}" selected>Chọn chuyên mục</option>
                    {{#each listCategory}}
                      <option value="{{_id}}">{{categoryName}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="select" class="col-12 col-form-label">Chọn tag</label>
                <div class="col-8">
                  <select id="select" name="select" class="custom-select" required="required">
                    <option value="rabbit">Rabbit</option>
                    <option value="duck">Duck</option>
                    <option value="fish">Fish</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card-footer bg-light">
              <button type="button" class="btn btn-outline-secondary btn-sm">Preview</button>
              <button type="button" class="btn btn-info btn-sm">Save Draft</button>
              <button type="submit" form="articleContent" class="btn btn-primary btn-sm">Publish</button>
            </div>
          </div>

        </div>
      </div>
      </form>
      {{/unless}}
    </div>
  </div>
</div>